.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-feeds {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.feed-template {
    padding: 1rem;
    width: 50vw;
    background-color: rgb(248, 243, 243);
}
.feed-template div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.feed-template div h6 {
    background-color: rgb(136, 184, 210);
    width: 2.75rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
